.todo-list {
	margin:1rem 0;
}

.todo-list .list-group-item {
	background: #0f2027;
	background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	padding: .25rem .75rem;
	
}

